<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload System</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <script defer src="../static/js/all.js"></script>
    <script defer src="../static/js/upload.js"></script>
</head>

<body>
<section class="section">
    <div class="container">
        <h1  style="font-family:  FreeMono, monospace;font-size: xx-large">
            Upload System
        </h1>

    </div>
</section>
<span id="progress_files" style="display: inline;">

</span>


<div class="field" style="position: fixed;bottom: 20%;left: 50%;-webkit-transform:translate(-50%,-50%);">
    <div class="file is-info">
        <label class="file-label">
            <input type="file" class="file-input" id="file" multiple="multiple"/>
            <span class="file-cta" style="margin:auto;">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        选择文件
                    </span>
                </span>
        </label>
    </div>
</div>


</body>

</html>